body {
    background-color: lightblue;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1 {
    color: black;
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
}
input {
    position: relative;
    top: 50px;
    right: 400px;
    margin: 30px;
    padding: 20px;
}
